<!-- Inclui a folha de estilo das Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


<!-- Início da barra de navegação lateral com a classe 'menu-lateral' -->
<nav class="menu-lateral">
    <!-- Botão de menu com a classe 'btn' -->
    <div class="btn">
        <i class="bi bi-list"></i> <!-- Ícone de lista das Bootstrap Icons -->
    </div>
    <!-- Container dos elementos de menu com a classe 'elementos' -->
    <div class="elementos">
        <ul> <!-- Lista não ordenada dos itens de menu -->
            <!-- Item de menu 1 -->
            <li class="item-menu">
                <a href="/home">
                    <span class="icon"><i class="bi bi-house-door"></i></span> <!-- Ícone de casa das Bootstrap Icons -->
                    <span class="txt">Home</span> <!-- Texto do item de menu -->
                </a>
            </li>    
            <!-- Item de menu 2 -->
            <li class="item-menu">
                <a href="/kanban" target="_blank">
                    <span class="icon"><i class="bi bi-columns-gap"></i></span> <!-- Ícone de dashboard das Bootstrap Icons -->
                    <span class="txt">Criar.Kanban</span> <!-- Texto do item de menu -->
                </a>
            </li>     
            <!-- Item de menu 3 -->
            <li class="item-menu">
                <a href="/home">
                    <span class="icon"><i class="bi bi-journal-text"></i></span> <!-- Ícone de calendário das Bootstrap Icons -->
                    <span class="txt">Olhar.Kanban</span> <!-- Texto do item de menu -->
                </a>
            </li>      
            <!-- Item de menu 4 -->
            <li class="item-menu">
                <a href="https://smartconsulting.com.br/kanban/#:~:text=Kanban" target="_blank">
                    <span class="icon"><i class="bi bi-question-circle"></i></span> <!-- Ícone de engrenagem das Bootstrap Icons -->
                    <span class="txt">Sobre.Kanban</span> <!-- Texto do item de menu -->
                </a>
            </li>        
            <!-- Item de menu 5 -->
            <li class="item-menu">
                <a href="/home">
                    <span class="icon"><i class="bi bi-person-circle"></i></span> <!-- Ícone de perfil das Bootstrap Icons -->
                    <span class="txt">Usuario</span> <!-- Texto do item de menu -->
                </a>
            </li>
        
        </ul>
    </div>
</nav>
