/* Define estilos globais para todos os elementos */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Estiliza o contêiner principal */
.root {
    height: 100vh; /* Altura total da viewport */
    width: 100%; /* Largura total da viewport */
    display: flex; /* Usa flexbox para posicionamento */
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Centraliza horizontalmente */
    flex-direction: row; /* Coluna para organização dos itens */
    background-image: linear-gradient(to right, #2e18d9, #18a6d9, #2e18d9, #18a6d9);
}

/* Estiliza os contêineres de entrar e cadastrar */
.container-cadastro {
    background-color: rgb(56, 56, 69); /* Cor de fundo */
    height: 100vh; /* Altura específica */
    width: 40%; /* Largura específica */
}
/* Estiliza o formulário dentro do contêiner */
.form {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.cabeça-cadastro {
    display: flex; /* Usa flexbox para posicionamento */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Coluna para organização dos itens */
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 50px; /* Tamanho da fonte */
    font-family: 'Calibri'; /* Fonte */
    margin-bottom: 30px;
    margin-top: 40px;
    gap: 20px;

    img{
        border-radius: 50%;
    }
}



.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    font-family: 'Calibri';
    color: rgb(255, 255, 255); /* Cor do texto */
    font-size: 25px;
}

.inputs {
    display: flex; /* Usa flexbox para posicionamento */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Coluna para organização dos itens */
    margin-left: 40%;
    width: 100%;
    gap: 25px; /* Espaçamento entre os elementos */

    input{
        height: 6vh;
        width: 60%;
        padding-left: 15px;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0);
        font-family: 'Calibri';
        font-size: 22px;
    }
}

.buttons {
    display: flex; /* Usa flexbox para posicionamento */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Coluna para organização dos itens */
    margin-left: 50%;
    width: 100%;
    gap: 25px; /* Espaçamento entre os elementos */

    .btn-cadastrar {
        height: 6vh;
        width: 50%;
        border-radius: 8px;
        border: none;
        color: #182bd9;
        font-family: 'Calibri';
        font-size: 30px;
        background-color: rgb(255, 255, 255);
        
    }
    .btn-cadastrar:hover{
        box-shadow: 1px 1px 20px black;
        cursor: pointer;
        transition: 0.2s;
    }
}

.novo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;


    .btn-logarconta { 
        height: 5vh;
        width: 30%;
        border-radius: 8px;
        border: solid 1px rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        font-family: 'Calibri';
        font-size: 25px;
        background-color: rgb(56, 56, 69); 
        transition: 0.2s;
    }

    .btn-logarconta:hover {
        background-color: rgb(255, 255, 255); 
        border: solid 1px rgb(56, 56, 69);
        color: #182bd9;
        cursor: pointer;
    }
}




.titulo-desafio {
    font-family: 'Calibri';
    font-size: 40px;

}


.container-apresentacao {
    display: flex; /* Usa flexbox para posicionamento */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Coluna para organização dos itens */
    justify-content: center; /* Centraliza horizontalmente */
    height: 100vh; /* Altura específica */
    width: 60%;
    font-family: 'Calibri';
    font-size: 25px;

    p{
        margin: 80px;
    }
}


         