<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div class="root">
    <div class="container-entrar"><!--ngIF valor true, para tela de entrada ser vizualizada no inicio-->
        <div class="container">
            <div class="form">
                <form (submit)="submit()" [formGroup]="userForm" #formDir="ngForm">
                    <div class="title-login">
                        <span class="entrar">
                            Fazer Cadastro
                        </span>
                        <div class="icon"><i class="bi bi-person-fill-check"></i></div>
                    </div>
                    <div class="inputs">
                        <label for="" class="label">Nome de Usuario</label>
                        <input type="text" placeholder="username" formControlName="name" required>
                        <div class="validation" *ngIf="name.invalid && formDir.ngSubmit" ngClass="valodation-error">
                            <p>por favor preencha esse campo</p>
                        </div>
                        <label for="" class="label">Email</label>
                        <input type="email" placeholder="Email" required>
                        <label for="" class="label">Senha</label>
                        <input type="password" placeholder="password" required>
                    </div>
                    <div class="buttons">
                        <button [routerLink]="''" routerLinkActive="active">Voltar</button>
                        <button [routerLink]="''" routerLinkActive="active">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>