<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<!-- Contêiner principal que envolve as colunas e a imagem -->
<div class="space-column">
    <!-- Contêiner para a imagem -->
    <div class="img">   
        <!-- Imagem com um link para o logotipo do Field Control, com altura de 300vh -->
        <img src="https://play-lh.googleusercontent.com/7sH1qKJkGg60fV_x3DhowQ9sxBfJS7PafvkU4OMnemOZszvwBr-nj9MuCkemxXvA6vtb" alt="logo-field-control" height="300vh">
    </div>
    <!-- Contêiner para as colunas do quadro (board) -->
    <div class="board-columns">
        <!-- Primeira coluna do quadro -->
        <div class="board-column">
            <button>
                <span><h3>Buscar Coluna Kanban</h3></span><br><br>
                <i class="bi bi-kanban"></i>
            </button>
        </div>
        <div class="board-column">
            <div class="cursor">
                <div class="pelicula">
                    <button>
                        <span><h3>Criar Coluna Kanban</h3></span><br><br>
                        <i class="bi bi-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="board-column">
            <button>
                <span><h3>O que é o Kanban?</h3></span><br><br>
                <i class="bi bi-question-circle"></i>
            </button>
        </div>
    </div>

</div>
 