<!-- Estrutura de um contêiner com classe 'space-title' -->
<div class="space-title">
    <!-- Item dentro do contêiner -->
    <div class="item">
        <!-- Imagem com URL específica, altura definida em 70vh e texto alternativo -->
        <img src="https://play-lh.googleusercontent.com/7sH1qKJkGg60fV_x3DhowQ9sxBfJS7PafvkU4OMnemOZszvwBr-nj9MuCkemxXvA6vtb" alt="logo-field-control" height="70vh">
        <!-- Texto ao lado da imagem -->
        <span>Kanban Organizador Field Control</span>
    </div>
    <!-- Subtítulo dentro do contêiner 'space-title' -->
    <div class="subtitle">
        <!-- Span com classe 'border-name', exibindo o conteúdo da variável {{username}} -->
        <span class="border-name">{{username}}</span>
    </div>
</div>
